.Navigation {

}

.Navigation-list {
  margin: 0;
  list-style: none;
}

.Navigation-listItem {
  display: inline-block;

  & + .Navigation-listItem {
    margin-left: .5em;
  }
}

.Navigation-listItemLink {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
  transition: color 0.2s ease-in;

  &:hover {
    color: rgb(235, 42, 116);
  }
}

